{% extends '::base.html.twig' %}

{% block body %}
    <menu class="menu-left">
        <ul class="unstyled ">
            <li>
                <a title="Sharepear" href="{{ path('homepage') }}">
                    <img src="/logo.svg">
                </a>
            </li>
            {% if app.user %}
                <li>
                    <a href="" class="btn-menu-item" data-icon="fa-picture-o" class="show-upload" title="{{ "Add a event" | trans({}, "album") }}">
                        <i class="fa fa-plus"></i>
                        {{ "Add" | trans({}, "album") }}
                    </a>
                    <div class="menu-item">
                        <form class="search" data-url="{{ path('album_new', {'albumName': '__SEARCH__'}) }}">
                            <input type="text">
                        </form>
                    </div>
                </li>
                <li>
                    <a href="" data-icon="fa-user" class="show-menu close" title="{{ "Menu" | trans({}, "album") }}">
                        <i class="fa fa-user"></i>
                        {{ app.user }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </menu>
    <main>
        {% block header %}
        <header {% block header_attr '' %}>
            {% block header_content '' %}
        </header>
        {% endblock %}

        {% block section %}
        <section {% block section_attr '' %}>
            {% block section_content '' %}
        </section>
        {% endblock %}

        {% block footer %}
        <footer {% block footer_attr '' %}>
            {% block footer_content '' %}
        </footer>
        {% endblock %}
    </main>
{% endblock %}
