{% extends '::base.html.twig' %}

{% block body %}
    {% block header %}
        <header{% block header_attr %}{% endblock %}>
            {% block header_content %}
                <div class="actions left">
                    <a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a>
                    {% if album is defined and album.album is not null %}
                        <a href="{{ path('album_show', {'id': album.album.id}) }}"><i class="fa fa-chevron-left"></i></a>
                    {% endif %}
                </div>
                <h1>{{ block('title') }}</h1>
                {% spaceless %}
                    <div class="actions right">
                        <a href="">
                            <i class="fa fa-download"></i>
                        </a>
                        <a href="" class="show-upload" title="{{ "Add photos" | trans({}, "album") }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-picture-o fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x inverse"></i>
                            </span>
                            <span class="fa-stack fa-lg" style="display: none">
                                <i class="fa fa-minus"></i>
                            </span>
                        </a>
                        <div class="upload">
                            <div>
                                <form action="{{ oneup_uploader_endpoint('album') }}" class="dropzone" id="my-dropzone">
                                    <input type="hidden" name="album_id" value="{% if album is defined %}{{ album.id }}{% endif %}">
                                    <span data-description="{{ "Drop files here to upload" | trans({}, "album") }}"></span>
                                </form>
                            </div>
                        </div>
                        <a href="" title="{{ "Create a photo album" | trans({}, "album") }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-book fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x inverse"></i>
                            </span>
                        </a>
                        {% if entity is defined %}
                            <span class="remove-album">
                                <a href="">
                                    <i class="fa fa-times-circle-o"></i>
                                </a>
                                {{ form(delete_form) }}
                            </span>
                        {% endif %}
                    </div>
                {% endspaceless %}
            {% endblock %}
        </header>
    {% endblock %}
    {% block section %}
        <section{% block section_attr %}{% endblock %}>
            {% block section_content %}
            {% endblock %}
        </section>
    {% endblock %}
    {% block footer %}
        <footer{% block footer_attr %}{% endblock %}>
            {% block footer_content %}
            {% endblock %}
        </footer>
    {% endblock %}
{% endblock %}
