{% extends 'kosssiMyAlbumsBundle:Album/base:layout.html.twig' %}

{% if shared_album is not defined %}
    {% set shared_album = false %}
{% endif %}

{% block header_content %}
    {{ form(form, {'action': path('album_edit', {'id': album.id}), 'class': 'album-edit'}) }}
    <ul class="list-btn">
        <li>
            <a class="btn-download" href="{{ path('album_delete', {'id': album.id}) }}">
                <i class="fa fa-trash-o"></i>
                {{ "Delete" | trans({}, "album") }}
            </a>
        </li>
        <li{% if images|length == 0 %} class="visually-hidden"{% endif %}>
            <a class="btn-download" href="{{ path('album_show', {'id': album.id}) }}">
                <i class="fa fa-folder-open"></i>
                {{ "Show" | trans({}, "album") }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block section_content %}
    {% include 'kosssiMyAlbumsBundle:Album/base:album.html.twig' with {'images': images, 'action': 'edit', 'album': album} only %}
{% endblock %}
