{% extends 'kosssiMyAlbumsBundle::base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% block section_attr %} class="container"{% endblock %}
{% block section_content %}
    {% if entity.images|length > 0 %}
        <div id="loader">
            <div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <ul id="album" class="album" style="display: none;">
            {% for image in entity.images %}
                <li class="clearfix"
                    data-xs="{{ image.path | imagine_filter('xs') }}"
                    data-s="{{ image.path | imagine_filter('s') }}"
                    data-m="{{ image.path | imagine_filter('m') }}"
                    data-l="{{ image.path | imagine_filter('l') }}"
                    data-xl="{{ image.path | imagine_filter('xl') }}"
                    data-xxl="{{ image.path | imagine_filter('xxl') }}"
                    data-orientation="{{ image.orientation }}"
                        >
                    <ul class="actions">
                        <li title="Tourner à gauche"><a href="{{ path('image_rotation_right', {'id': image.id}) }}"><i class="fa fa-rotate-left"></i></a></li>
                        <li title="Tourner à droite"><a href="{{ path('image_rotation_left', {'id': image.id}) }}"><i class="fa fa-rotate-right"></i></a></li>
                        <li title="Plein écran"><a href=""><i class="fa fa-arrows-alt"></i></a></li>
                        <li title="Ajouter des photos"><a href=""><i class="fa fa-picture-o"></i></a></li>
                        <li title="Supprimer"><a href="{{ path('image_delete', {'id': image.id}) }}"><i class="fa fa-times-circle-o"></i></a></li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
