{% extends 'kosssiMyAlbumsBundle::base.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% block section_attr %} class="container"{% endblock %}
{% block section_content %}
    {% if entity.images|length > 0 %}
        <div id="loader">
            <div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <ul id="album" class="album" style="display: none;">
            {% for image in entity.images %}
                <li class="clearfix"
                    data-xs="{{ image.path | imagine_filter('xs') }}"
                    data-s="{{ image.path | imagine_filter('s') }}"
                    data-m="{{ image.path | imagine_filter('m') }}"
                    data-l="{{ image.path | imagine_filter('l') }}"
                    data-xl="{{ image.path | imagine_filter('xl') }}"
                    data-xxl="{{ image.path | imagine_filter('xxl') }}"
                    data-orientation="{{ image.orientation }}"
                        >
                    <noscript>
                        <img alt="" src="{{ image.path | imagine_filter('m') }}" />
                    </noscript>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
