<section class="login">
    <form id="login_form" action="{{ path('login_check') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <ul>
            <li>
                <input placeholder="Login" type="text" id="username" name="_username" value="{{ last_username }}"
                       {% if error %}class="error" title="{{ error|trans }}" {% endif %}/>
            </li>
            <li>
                <input placeholder="Password" type="password" id="password" name="_password"
                       {% if error %}class="error" title="{{ error|trans }}" {% endif %}"/>
            </li>
            <li>
                <button {% if error %}class="error"{% endif %} type="submit">
                    <i class="fa fa-sign-in"></i> Sign in
                </button>
            </li>
            <li>
                <p>
                    <a class="ajax" href="{{ path('fos_user_resetting_request') }}">{{ 'Lost password ?'|trans }}</a>
                    <a class="ajax" href="{{ path('fos_user_registration_register') }}">{{ 'Join us ?'|trans }}</a>
                </p>
            </li>
        </ul>
    </form>
</section>
