{% set element = element|default('article') -%}

{% spaceless %}
    <{{ element }} class="clearfix"
             data-xs="{{ image.path | imagine_filter('xs') }}"
             data-s="{{ image.path | imagine_filter('s') }}"
             data-m="{{ image.path | imagine_filter('m') }}"
             data-l="{{ image.path | imagine_filter('l') }}"
             data-xl="{{ image.path | imagine_filter('xl') }}"
             data-xxl="{{ image.path | imagine_filter('xxl') }}"
             data-orientation="{{ image.orientation }}"
             title="{{ image.name }}"
            >
        <ul class="actions">
            <li>
                <a title="Tourner à gauche" href="{{ path('image_rotation_right', {'id': image.id}) }}">
                    <i class="fa fa-rotate-left"></i>
                </a>
            </li>
            <li>
                <a title="Tourner à droite" href="{{ path('image_rotation_left', {'id': image.id}) }}">
                    <i class="fa fa-rotate-right"></i>
                </a>
            </li>
            <li>
                <a title="Plein écran" class="imageFullscreen"
                   href="{{ path('image_show', {'id': image.id}) }}">
                    <i class="fa fa-expand"></i>
                </a>
                <a title="Quitter plein écran" class="removeFullscreen"
                   href="{% if image.album is not null %}{{ path('album_show', {'id': image.album.id}) }}{% else %}{{ path('homepage') }}{% endif %}">
                    <i class="fa fa-compress"></i>
                </a>
            </li>
            <li>
                <a title="Ajouter des photos" href="{{ path('album_show', {'id': image.id}) }}">
                    <i class="fa fa-folder-open"></i>
                </a>
            </li>
            <li>
                <a title="Supprimer cette image" href="{{ path('image_delete', {'id': image.id}) }}">
                    <i class="fa fa-times-circle-o"></i>
                </a>
            </li>
        </ul>
    </{{ element }}>
{% endspaceless %}
