{% extends 'kosssiMyAlbumsBundle:Image:base.html.twig' %}

{% block section_content %}
    <div class="image-zoom image-responsive clearfix"
        data-xs="{{ image.path | imagine_filter('xs') }}"
        data-s="{{ image.path | imagine_filter('s') }}"
        data-m="{{ image.path | imagine_filter('m') }}"
        data-l="{{ image.path | imagine_filter('l') }}"
        data-xl="{{ image.path | imagine_filter('xl') }}"
        data-xxl="{{ image.path | imagine_filter('xxl') }}"
        data-orientation="{{ image.orientation }}"
        title="{{ image.name }}"
            >
    </div>
{% endblock %}
