{% extends 'kosssiMyAlbumsBundle::base.html.twig' %}

{% block title %}{% if album is defined %}{{ album.name }}{% else %}{{ 'Homepage'|trans({}, 'album') }}{% endif %}{% endblock %}

{% block section_attr %}class="container"{% endblock %}

{% block footer_content %}
    {% if app.user %}
        <ul class="menu">
            <li>
                <a class="ajax" href="{{ path('fos_user_profile_show') }}">
                    <i class="fa fa-user"></i>
                    {{ "Profile" | trans({}, "album") }}
                </a>
            </li>
            <li>
                <a href="{{ path('logout') }}">
                    <i class="fa fa-sign-out"></i>
                    {{ "Logout" | trans({}, "album") }}
                </a>
            </li>
        </ul>
    {% endif %}

    <ul class="links links-fullscreen visually-hidden">
        <li class="link-middle link-left">
            <a href="" class="show-before-picture" title="{{ "Show before picture" | trans({}, "album") }}">
                <i class="fa fa-caret-left"></i>
            </a>
        </li>
        <li class="link-middle link-right">
            <a href="" class="show-next-picture" title="{{ "Show next picture" | trans({}, "album") }}">
                <i class="fa fa-caret-right"></i>
            </a>
        </li>
    </ul>

    <div class="upload">
        <div>
            <form action="{{ oneup_uploader_endpoint('album') }}" class="dropzone" id="my-dropzone">
                <input type="hidden" name="album_id" value="{% if album is defined %}{{ album.id }}{% endif %}">
                <span data-description="{{ "Drop files here to upload" | trans({}, "album") }}"></span>
            </form>
        </div>
    </div>
{% endblock %}

{% block header_content %}
    <h1>{{ block('title') }}</h1>
    {% if album is defined %}
        <a class="btn-download" href="{{ path('album_download', {'id': album.id}) }}">
            <i class="fa fa-archive"></i>
            {{ "Download" | trans({}, "album") }}
        </a>
    {% endif %}
{% endblock %}
