{% extends 'kosssiMyAlbumsBundle::base.html.twig' %}

{% block title %}{% if album is defined %}{{ album.name }}{% else %}{{ 'Homepage'|trans({}, 'album') }}{% endif %}{% endblock %}

{% block section_attr %}class="container"{% endblock %}

{% block footer_content %}
    <ul class="menu">
        <li>
            <a href="{{ path('homepage') }}">
                <i class="fa fa-home"></i>
                {{ "Homepage" | trans({}, "album") }}
            </a>
        </li>
        <li>
            <a class="ajax" href="{{ path('fos_user_profile_show') }}">
                <i class="fa fa-user"></i>
                {{ "Profile" | trans({}, "album") }}
            </a>
        </li>
        <li>
            <a href="{{ path('logout') }}">
                <i class="fa fa-sign-out"></i>
                {{ "Logout" | trans({}, "album") }}
            </a>
        </li>
    </ul>

    <ul class="links">
        <li class="link-top link-left">
            <a href="" data-icon="logo" class="show-menu close" title="{{ "Menu" | trans({}, "album") }}">
                <i class="fa logo"></i>
            </a>
        </li>
        <li class="link-top link-right">
            <a href="" data-icon="fa-picture-o" class="show-upload" title="{{ "Add photos" | trans({}, "album") }}">
                <i class="fa fa-picture-o"></i>
            </a>
        </li>
    </ul>

    <ul class="links links-fullscreen visually-hidden">
        <li class="link-middle link-left">
            <a href="" class="show-before-picture" title="{{ "Show before picture" | trans({}, "album") }}">
                <i class="fa fa-caret-left"></i>
            </a>
        </li>
        <li class="link-middle link-right">
            <a href="" class="show-next-picture" title="{{ "Show next picture" | trans({}, "album") }}">
                <i class="fa fa-caret-right"></i>
            </a>
        </li>
    </ul>

    <div class="upload">
        <div>
            <form action="{{ oneup_uploader_endpoint('album') }}" class="dropzone" id="my-dropzone">
                <input type="hidden" name="album_id" value="{% if album is defined %}{{ album.id }}{% endif %}">
                <span data-description="{{ "Drop files here to upload" | trans({}, "album") }}"></span>
            </form>
        </div>
    </div>
{% endblock %}

{% block header_content %}
    <h1>{{ block('title') }}</h1>
{% endblock %}
